body{
margin:0;
font-family:Arial;
background:#0b0b0f;
color:white;
text-align:center;
}

header{
display:flex;
justify-content:space-between;
padding:20px 40px;
}

nav a{
margin:15px;
color:white;
text-decoration:none;
}

.hero{
margin-top:100px;
}

.avatar{
width:80px;
border-radius:50%;
}

.gradient{
background:linear-gradient(90deg,#a855f7,#6366f1);
-webkit-background-clip:text;
color:transparent;
}

.buttons{
margin-top:20px;
}

.btn{
background:#9333ea;
padding:10px 20px;
border:none;
color:white;
margin:10px;
cursor:pointer;
}

.btn2{
background:transparent;
border:1px solid white;
padding:10px 20px;
color:white;
}

.social i{
margin:10px;
font-size:20px;
}

.cards{
margin-top:150px;
}

.card-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:#111118;
padding:30px;
border-radius:10px;
width:250px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #9333ea;
}

.contact{
margin-top:150px;
padding:40px;
}

.contact input,
.contact textarea{
width:300px;
padding:10px;
margin:10px;
background:#111;
border:none;
color:white;
}

.contact button{
background:#9333ea;
border:none;
padding:10px 20px;
color:white;
cursor:pointer;
}
