body{
margin:0;
font-family:Arial;
background:black;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:30px;
}

.logo{
font-size:24px;
font-weight:bold;
}

nav a{
margin:20px;
text-decoration:none;
color:white;
}

.contact{
padding:10px 20px;
border-radius:20px;
border:none;
cursor:pointer;
}

.hero{
display:flex;
height:90vh;
}

.left{
background:#e5e5e5;
color:black;
width:50%;
padding:100px;
clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.left h1{
font-size:60px;
}

.social{
margin-top:40px;
}

.social a{
background:white;
padding:10px;
margin:10px;
display:inline-block;
color:black;
}

.right{
width:50%;
display:flex;
justify-content:center;
align-items:center;
}

.right img{
height:500px;
}
